
@font-face {
    font-family: "myFirstFont";
	src: url("SolaimanLipi-Normal.ttf");

}
@font-face{
    font-family: "AzadPori";
    src: url("../../font/AzadPori/Unicode.ttf");
}
*{
    padding: 0px;
    margin: 0px;
}
.margin0{
    margin: 0;
}
.padding0{
    padding: 0;
}

body{
	margin:0px;
	padding:0px;
	font-family:"myFirstFont";
	background-color: #fff;
	font-size:regular;
}

	
body a{
	text-decoration: none;
	color: #000;
}


body a :hover{ 
    text-decoration: none;
    color:#1c4df7; }


body h6 a:hover{
	
	color:#1c4df7;
}




.navber{
   background: linear-gradient(to bottom, #33cc33 37%, #ff6666 100%);
    margin-top: 0;
    color:#fff !important
}
.navber ul li{
 text-decoration: none;
 list-style: none;
 display: inline-block;
 
}


/*li a, .dropbtn {
  display: inline-block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/
.dropdown{
	margin-top: 5px;
	padding-left: 10px;

}


li a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 600px;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
  z-index: 999;
  border-bottom:7px solid #00FF00;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align:center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}




.Political p a{
	text-decoration: none;
}

.row pre{
	color:gray;
}

.top-header{
	background-color: #fff;
	border-bottom: 3px solid #ee192d;
}
.top-header :hover{
	border-bottom: none;
}
.slider-image{
    object-fit: cover;
    height: 400px;
    width: 100%;
}



.navber4 a:hover{
 background-color: #eeeeee;
 border-bottom: 3px solid #ee192d;

}
.container a:hover{
	color:blue;
}
.container
{
    margin-top: 2%;
    max-width: 1400px;
}



.nav-link ul li{
 
 list-style: none;
 display: inline-block;
 padding-right:0px;
}

.nav-link ul li:hover{
 
 border-bottom: none;
 background-color: transparent;
}


.nav2 ul{
	border-bottom: 1px solid black;
}
.nav2 ul li{ 
	text-decoration:none;
	display: inline-block;
    margin-right: 10px;
    
}
.nav2 a{
	color:#000;
}
.nav2 a:hover{
	color:blue;
}






.nav2 ul li{
 text-decoration: none;
 display: inline-block;

}



.barishal{
	 background-color: #474747;
	 margin-left: -40px;
	 position:absolute;
	 height: 100%;
}

.barishal button{
margin-left: 30px;
}

.barishal button:hover{

background-color: green;
color: #ee192d;
}
/*.nv{
	background-color: #000;
	font-size: 20px;
	margin-left: 300px;
	margin-top: -40px;
	height: 50px;
}
	.nv li{
	
   padding-right: 50px;
  margin-top: 15px;
   border-right: 1px solid #fff;
   color:#fff;
}	
*/
footer{
    background-color:#212121;
    border-top:3px solid #03b2e3;
    color:#fff !important
}
/*.container ul li{

text-decoration: none;
}*/
.footer_title{
    color:#fff !important
}
.ed-footer-sections{
    width:90%;
    margin:0 auto;
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap
}
 
 .col-xl-2 {
 	margin-top:0px;
 }


.col-xl-2 ul li{
text-decoration: none;
 color: gray;
text-align: center;
list-style: none;


}





.Top-Trends ul li{
	text-decoration: none;
	display: inline-block;
	border:1px solid #fff;
	margin-right: 10px;
	color: gray;
}


.icons2 {
	text-decoration: none;
	padding-right: 10px;
	display: inline-block;
}
.Top-Trends li:hover{
	background-color:#00FF00;
	color: #FF0000;
}

.second-footer a{
	text-decoration: none;
	color: #fff;
}

.last a{
	text-decoration: none;
	color: #fff;
}


.col-xl-4 ul li{
 text-decoration: none;
 display: inline-block;
 padding-right: 10px;
}
.hero2{
    background-color: 
#000;
    border-top:3px solid #03b2e3;
    color:#fff !important
}
.hero2 ul li{
 text-decoration: none;
 list-style: none;
 display: inline-block;
 
 padding-right: 10px;
 font-weight: 400px;

}



.col-xl-4:hover{
	background-color: solid gray;
}
.link1 a:hover{
	color: blue;
background-color: transparent;
}
.iconf i:hover{
background-color: #00FFFF;
}
.media{
margin-bottom: 5px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 2px solid #eeeeee;
}
.media-auto{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bt-english{
	background-color: #eff1f6;
	padding-left: 7px;
}

/*Custom Css*/
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: #fff;
    background: linear-gradient(to right, #00ff00 0%, #ff0000 100%);
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}


@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* ***---Background colors---** */
.bg-gray{
    background-color:#eeeeee;
}


/* ***--Column news--*** */

.column-news{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
.column-news a{
    text-decoration: none;
}
.column-category-title a{
    text-decoration: none;
}

.column-news-title{
    font-size: 15px;
    line-height: 1.2rem;
    font-weight: 500;
    text-align: justify;
}
.column-news-image{
    width: 100%;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.column-news-image-bg{
    width: 100%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.column-news-image-bg-alt{
    height:50%;
   object-position: center;
    object-fit:contain;
    width: 100%;
}
.column-desk-news a{
    text-decoration: none;
}

.column-news-video{
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, .8)
}
/* ***--Cover news--*** */
.cover-news-title{
    font-size: 1.6rem;
}
.cover-news{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.cover-news a{
    text-decoration: none;
}

.cover-news-image{
    margin-bottom: 10px;
    height:300px;
    object-fit: cover;
    width: 100%;
}

/* ***--Border--*** */
.border-radius{
    border-radius: 10px;
}
.border-grey-right{
    padding-right: 10px;
    border-right: 2px #eeeeee solid;
}
.border-grey-left{
    padding-left: 10px;
    border-left: 2px #eeeeee solid;
}
.border-grey-bottom{
    padding-bottom: 10px;
    border-bottom: 2px #eeeeee solid;
}
.border-grey-top{
    padding-top: 10px;
    border-top: 2px #eeeeee solid;
}
.person-row{
    display: table-row;
}
.person-row img,pre{
    display: table-cell;
    vertical-align: middle;
}
.person-row img{
    border: #007bff 2px solid;
}
.person-row pre{
    font-size: 12px;
    padding-left: 5px;
}
/* Row news */
.profile-image-sm{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.profile-image-bg{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.row-news-bg{
    margin: 5px;
}
.row-news{
    margin-top: 10px;
    margin-bottom:10px;
}
.row-news a{
    text-decoration: none;
}
.row-news h6{
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: 0em;
}
.row-image-sm{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.row-image-sm-auto{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.row-image-sq-bg{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.row-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.row-news-bg a{
    text-decoration: none;
}
.row-news-bg a h5{
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: justify;
}
.row-news-bg p ,.row-news-bg span a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2rem;
}
.row-image-bg{
    width: 100%;
    height: 175px;
     object-fit: cover;
}
.row-image-md{
    width: 30%;
    height: 175px;
     object-fit: contain;
}
.row-video{
    margin-left: 5px;
    width: 150px;
    height: 100px;
}
/* Ad */
.ad{
    padding-top:100px;
    padding-bottom:100px;
    width: 100%

}
/* Image */
.image { position: relative; }
.image img { display: block; }
.image .logo { position: absolute; bottom:0; left:0; }
.image .logo{
    padding: 10px;
}

.single-image .desc a h6{
    padding-top: 5px;
    text-align: justify;
}
.single-image .desc a{
    text-decoration: none;
}
/*Media*/
.media-body a  h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2rem;
}
.media-body a  h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2rem;
}
.media-body a{
    text-decoration: none;
}

.opnion-p{
    font-size: 15px;
}
/* Podcast */

.podcast{
    width: 100%;
    font-family: "Open Sans",sans-serif;
    background-color: #000;
    padding: 20px 30px;
    box-sizing: border-box;
    color: rgb(104, 95, 95);
    text-align: center;
}
.podcast .headlogo {
    margin: 20px auto;
    height: 45px;
    border: 0;
    outline: 0;
    width: 100%;
}
.podcast-image{
    height: 110px;
    width: 110px;
}
.play{
    font-size: 10px;
    padding: 10px;
    color: #fff;
    background-color: rgba(255,0,0,0.8);
}
.play:hover{
    color: red;
    background-color: rgba(255,255,255,0.8);
    transition-timing-function: ease-in;
    transition-duration: .2s;
}
.single-podcast p a{
    text-decoration: none;
    color: #fff;
}
.single-podcast p a:hover{
    text-decoration: none;
    color: red;
}
.single-podcast p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: center;
}
.podcast-item { position: relative; }
.podcast-item img { display: block; }
.podcast-item .play { position: absolute; bottom:0; left:0; }

  @media only screen and (max-width: 1200px) {
    .podcast-image{
        height: 25%;
        width: 100%;
    }
    .play{
        font-size: 20px;
        padding: 20px;
        color: #fff;
        background-color: rgba(255,0,0,0.8);
    }
    .play:hover{
        color: red;
        background-color: rgba(255,255,255,0.8);
        transition-timing-function: ease-in;
        transition-duration: .2s;
    }
    .play:hover{
    
    }
    .podcast-title p a{
        font-size: 16px;
        text-decoration: none;
        color: #fff;
    }
    .podcast-title p a:hover{
        text-decoration: none;
        color: red;
    }
    .podcast-title p{
        margin-top: 5px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
  }
  @media only screen and (max-width: 650px) {
    .podcast-image{
        height: 150px;
        width: 150px;
    }
    .play{
        
        font-size: 15px;
        padding: 10px;
        color: #fff;
        background-color: rgba(255,0,0,0.8);
    }
    .play:hover{
        color: red;
        background-color: rgba(255,255,255,0.8);
        transition-timing-function: ease-in;
        transition-duration: .2s;
    }
    .play:hover{
    
    }
    .podcast-title p a{
        font-size: 16px;
        text-decoration: none;
        color: #fff;
    }
    .podcast-title p a:hover{
        text-decoration: none;
        color: red;
    }
    .podcast-title p{
        margin-top: 5px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
  }
/* Cricket */
#cricket_section{
    border:#dc3545 solid 2px;
}
.cricket-nav{
    border-left: 2px white solid;
    border-bottom: 2px white solid;
    list-style: none;
    padding:10px;
    background-color: #dc3545;
}
.cricket-nav li{
    font-size: 12px;
    color: #fff;   
    padding-right: 10px;
    padding-left: 5px;
    border-right: #fff 2px solid;
    display: inline;
    cursor: pointer;
    -webkit-transition: font-size .1s;
   transition-timing-function: ease-out;
}
.cricket-nav li:hover{
   color: #3bed63;
   font-size: 14px;
   -webkit-transition: font-size .2s;
   transition-timing-function: ease-in;
}
.cricket-nav-mobile{
    text-align: center;
    list-style: none;
    padding:5px;
    background-color: #dc3545;
}
.cricket-nav-mobile li{
    font-size: 10px;
    color: #fff;   
    padding-right: 10px;
    padding-left: 5px;
    border-right: #fff 2px solid;
    display: inline;
    cursor: pointer;
    -webkit-transition: font-size .1s;
   transition-timing-function: ease-out;
}

/* Photo gallery */
.gallery_desc{
    
     background-color: rgba(0, 0, 0, .8);
	 margin-left: -30px;
	 position:absolute;
	 height: 100%;
}
.gallery_desc h2{
    color: #fff;
    text-align: center;
    font-size: 26px;
}
.gallery_desc p{
    text-align: justify;
    color: #fff;
}
.tag{
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
    border: green 1px solid;
    text-align: left;
    color: #fff;
}
.tag:hover{
    color: green;
    background-color: #fff;
    border: none;
}
.tag-black{
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
    border: #000 1px solid;
    text-align: left;
    color: #000;
}
.tag-black:hover{
    color: #fff;
    background-color: #000;
    border: none;
}
.tag-black-bg{
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border: #000 1px solid;
    text-align: left;
    color: #000;
}
.tag-black-bg:hover{
    color: #fff;
    background-color: #000;
    border: none;
}
.tag-white{
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
    border: #fff 1px solid;
    text-align: left;
    color: #fff;
}
.tag-white:hover{
    color: #000;
    background-color: #fff;
    border: none;
}
.tag-white-bg{
    cursor: pointer;
    padding: 4px;
    font-size: 15px;
    border: #fff 1px solid;
    text-align: left;
    color: #fff;
}
.tag-white-bg:hover{
    color: #000;
    background-color: #fff;
    border: none;
}
.date{
    font-size: 11px;
    margin-top: 10px;
    display: block;
    color: #fff;
}
.caption{
    font-weight: 400;
    color: #000;
    opacity: .5;
    text-align: center;
    margin-top: 5px;
}

/* Owl */


#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  #owl-demo-1 .item{
    margin: 3px;
  }
  #owl-demo-1 .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Font size */
  .font-sm-tag{
      font-size: 10px;

  }
  
  /* column desk news para */
.column-desk-news{
    margin-bottom: 10px;
}
.column-desk-news a h5{
    text-align: center;
    padding-bottom: 5px;
}
.column-desk-news a h6{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.column-desk-news p {
    font-size: 14px;
}
/* footer */
.footer-logo{
    height: 50px;
    width: 150px;
}
.cbp-hrsub{
	z-index: 10;
	background-color: grey;
	font color:#FFFAFA;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
}



.cbp-hrmenu {
	width: 100%;

	padding-left: -50px;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding:10px 0 0 8px;
	color: #999;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color:#1e1b1b;
	background:transparent;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: fixed;
	background: #47a3da;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width:20%;
	float: left;
	
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	font-size: 25px;
	margin-left: -60px;


}

.

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 23px;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
		
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
		font-size: 28px;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: absolute;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}


.cbp-hrsub{
	z-index: 10;
	background-color: grey;
	font color:#fff;
}


body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container > header {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 10px 20px 10px;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #171718;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #1e2020;

	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #2a2f31;
}

/* .icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
} */

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}



/* *******************************Single News***********************/
/* Icon bar */
.icon-bar {
    z-index: 1;
margin-top: 200px;
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {

  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/* single news header */
#news-heading-title h1{
    font-size: 30px;
    font-weight: bold;
}
#news-heading-summary p{
    font-size: 16px;
    color: gray;
}
#news-reporters{
    display: flex;
    padding: 10px;
}
#news-reporters .person-row{
    padding-right: 15px;
    
}
#news-reporters .person-row pre{
    padding-right: 15px;
}

#news-thumbnail img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#news-thumbnail p{
    padding: 5px;
   text-align: center;
   font-size: 12px;
}
#news-desc p{
    font-size: 16px;
}

.media-board{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0px;
}
.media-board span{
    margin: 4px;
}

.verticle-ad{
    width: 100%;
    margin: 5%;
    height:100%;
}

.verticle-ad h1{
    padding-top: 30%;
    text-align: center;
    color: white;
}

.subscribe-text{
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
input.subscribe-form{
    font-size: 14px;
}

.subscribe-button{
    font-size: 14px;
    
}
/* Category page */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    text-decoration: none;
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
  }